.btn{
  border: 3px red solid;
}

input[type=text] {
  width: 20%;
}

label {
  padding: 5px;
}

#results{
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 50%;
  text-decoration-color: black;
}

body, html {
  height: 100%;
}

.bg {
  background-image:url("../img/mister-rogers-sweater.png");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 50%;
}